{% extends "pretix_fsp_mail/fsp_base.html" %}
{% load eventurl %}
{% load i18n %}
{% block content %}
    
  <div class="content">
      {{ body|safe }}
  </div>
  
  {% if order %}
    {% include "pretix_fsp_mail/fsp_separator.html" %}

    <div class="content">
      {% trans "You are receiving this email because you placed an order for the following event:" %}<br>
      <strong>{% trans "Event:" %}</strong> {{ event.name }}<br>
      <strong>{% trans "Order code:" %}</strong> {{ order.code }}<br>
      <strong>{% trans "Order date:" %}</strong> {{ order.datetime|date:"SHORT_DATE_FORMAT" }}<br>
      <a href="{% abseventurl event "presale:event.order" order=order.code secret=order.secret %}">
        {% trans "View order details" %}
      </a>
    </div>
  {% endif %}
{% endblock %}
